# {{ ansible_managed }}

[Unit]
Description=Monitoring system and time series database
Documentation=https://prometheus.io/docs/introduction/overview/

ConditionFileIsExecutable={{ prometheus_bin_dir }}/prometheus

StartLimitIntervalSec=0

Wants=network-online.target
After=network-online.target
Requires=local-fs.target
After=local-fs.target

[Service]
Type=simple
User={{ prometheus_user }}
Group={{ prometheus_group }}
EnvironmentFile=-/etc/default/prometheus
ExecStart={{ prometheus_bin_dir }}/prometheus \
          $PROMETHEUS_ARGS
ExecReload=/bin/kill -HUP ${MAINPID}

Restart=on-failure
RestartSec=10s
TimeoutStopSec=20s
SendSIGKILL=no

AmbientCapabilities=
CapabilityBoundingSet=
DeviceAllow=/dev/null rw
DevicePolicy=strict
LimitMEMLOCK=0
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
ReadWritePaths={{ prometheus_db_dir }}
RemoveIPC=true
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
